 .universities h1{
    text-align: center;
    text-transform: capitalize;
    padding-top: 50px;
    font-size: 2.5rem;
    font-weight: 300;
 }

 .universities h1:after {
    content: "";
    display: block;
    background: var( --main-color);
    height: 3px;
    width: 200px ;
    margin: 20px auto 50px;

 }
 .universities .cards {
   display: flex;
   align-items: center;
   justify-content: center;
  

 }
.wrapper {
   display: grid;
   grid-template-columns:repeat(3, 1fr);
   gap: 30px;
} 

.wrapper .box {
   width: 400px;
   height: 500px;
   /* background: var( --main-color); */
   border-radius: 15px;
   transition: transform 500ms ease-out;
   overflow: hidden;
   text-align: center;
   padding: 5%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   /* background: rgba(255, 255, 255, 0.2); */
   backdrop-filter: blur(30px);
   border: 2px solid rgba(255, 255, 255, 0.1);
   
}
.wrapper .box .logo {
   height:150px;
   width: 150px;
   border: 2px solid var(--border);
   /* border: 2px solid var(--main-color); */
   border-radius: 50%;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.wrapper .box .logo img {
   height: 80px;
   width: 80px;
}

.wrapper .box h2 {
   font-size: 25px;
   margin-bottom: 30px;
}
.wrapper .box p{
   line-height: 1.9;
   font-weight: 300;
}

.wrapper .box:before {
   content: "";
   background: rgba(255, 255, 255, 0.3);
   width: 60%;
   height: 100%;
   top: 0%;
   left: -125%;
   transform:skew(45deg);
   position: absolute;
   animation-direction: left;
   transition-duration: 500ms;
   
}
.wrapper .box:hover {
  transform: translateY(-5%);
}
.wrapper .box:hover:before {
   left: 150%;
    
}
@media screen and (max-width:1305px ) {
   .wrapper {
 
   grid-template-columns:repeat(2, 1fr);

} 
   
}
@media screen and (max-width:869px ) {
   .wrapper {
 
   grid-template-columns:repeat(1, 1fr);
   

} 
   .wrapper .box{
 
   grid-template-columns:repeat(1, 1fr);
   width: auto;
   height: auto;
   margin: 0px 10px 0 10px;

} 
   
}
@media screen and (max-width:431px ) {
   .wrapper .box {
   /* width: 350px; */
   

} 
   
}