.contact {
    width: 100%;
    padding-top: 3rem;
    

}
.form-title h1 {
    font-size:  2.5em;
    font-weight: 440;
    margin-bottom: 2rem;
}

.form-wrapper-contact {
     display: grid; 
    
    place-items: center; 
}
.form-contact-container {
    width: 100%;
    
    padding: 3px 30px;
    background: #ffffff1a;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #0000002a;
    border-radius: 10px;
}

.form-wrapper-contact h1 {
    margin: 0;
    padding: 0 0 20px;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.form-wrapper-contact input {
    width: 100%;
    margin-bottom: 1rem;
}
.form-wrapper-contact input[type=text], 
.form-wrapper-contact input[type=gmail], 
.form-wrapper-contact input[type=password],
.form-wrapper-contact textarea
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: var(--paragraph-color);
    font-size: 16px;
}
.form-wrapper-contact .buttons {
    display: flex;
    align-items: center;
   
    justify-content: space-between;
}
.form-wrapper-contact button {
    font-size: 1.2rem;
    position: relative;
    width: 110px;
}
.form-wrapper-contact button .icon {
    position: absolute;
    right: 4px;
    bottom:6px;
    font-size: 2.0rem;
}

@media screen and (max-width:1263px) {
   .form-title {
    text-align: center;
   }
   
}