.main-content {
    padding-top: 50px;
    
}
.main-content h2 {
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.contact-section {
   border: 1px solid var(--border);
   padding: 20px;
   border-radius: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}




.contact-form {
    max-width: 700px;
    
}


.contact-form input[type=text],
 .contact-form input[type=email],
 .contact-form textarea {
     width: 100%;
     border: none;
    height: 40px;
    margin-top: 12px;
 
    outline: none;
    font-size: 19px;
    border-radius: 12px;
    background: var(--border);
    color: var(--padding-color);
    
    

 }
  .contact-form input, .contact-form textarea {
     padding-left: 1rem;
    
  }
  .contact-form button {
    position: relative;
    width: 115px;
  }
  .contact-form button .icon {
    position: absolute;
    font-size: 2rem;
    right: 6px;
    top: 5px;
  }
  @media screen and (max-width:1275px) {
     .contact-section {
        width: 100%;
     }
     .main-content h2 {
        text-align: center;
     }
  }
  @media screen and (max-width:731px) {
    .contact-section {
        width: 100%;
        flex-direction: column;
    }

    
    
     
  }
   @media screen and (max-width:400px) {
    .contact-section button{
        width: 100%;
        flex-direction: column;
    }
}