.form-container {
    display: grid;
    /* height: 100vh; */
    place-items: center;
    /* justify-items: center; */
}
.form-wrapper {
    margin-top:70px;
    width: 400px;
    /* border: 1px solid red; */
    height: 400px;
    padding: 70px 30px;
    background: #ffffff1a;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #0000002a;
}

.form-wrapper h1 {
    margin: 0;
    padding: 0 0 20px;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.form-wrapper input {
    width: 100%;
    margin-bottom: 1rem;
}
.form-wrapper input[type=text], 

.form-wrapper input[type=gmail], 
.form-wrapper input[type=password] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: var(--paragraph-color);
    font-size: 16px;
}
.form-wrapper .buttons {
    display: flex;
    align-items: center;
    /* gap: 1rem; */
    justify-content: space-between;
}