 .features {
    padding: 70px 0; 
}
.feature-title h3 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
}
.feature-flex {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   text-align: center;

}

.feature {
    flex-basis: 50%;
    
}

.student-mg {
    flex-basis: 50%;
    margin: auto;
    padding: 20px;
    border: 3px solid var(--border);
   
    padding: 1rem;
    border-radius: 10px;
}
.student-mg img {
    filter: grayscale(100%);
    width: 100%;
    border-radius: 10px;
  
    border-radius: 1 0px;
    margin:auto;
    transition: var(--transition);
} 
.student-mg img:hover {
    filter: grayscale(0%);
    transform: scale(1.1) rotate(5deg);
   
} 

.feature h1 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 10px;
    color: var(--main-color);

}

.feature-disc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon  {
    width: 50px;
    height: 50px;
    font-size: 37px;
    border-radius: 8px;
    border: 2px solid var(--main-color);
    
}
.feature-text p {
    padding: 0 20px;
    text-align: initial;

}
.features .column {
    padding: 10px 20px 10px 20px;
    height: 150px;
    transition: var(--transition);
}
.features .column:hover {
    background-color:var(--main-color);

}
.features .column:hover h1 {
    color: var(--paragraph-color);
}
.features .column:hover .feature-icon {
    border: 2px solid var(--paragraph-color);
    
}
.container .register {
    display: flex; 
    align-items: center;
    flex-direction: column;
    align-items: center; 
    justify-content:center;

    height: 500px;
    text-align: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.759),rgba(0, 0, 0, 0.411)), url(../../Assets/register.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid var(--border0);
}
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.register-container .title-text h3{
    padding-top: 20px;
    font-size: 2rem;
    font-weight: 300;
}

.container .register .title-text h1{
   
   margin-top: 20px;
    font-size: 4rem;

}

.register-container .buttons-flex {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}
.register-container .buttons-flex button{
    
   transition: var(--transition);
}
.register-container .buttons-flex button .link:hover{
    
   color: var(--main-color)!important;
}
.register-container .buttons-flex #help {
    /* text-align: center; */
    font-size: 20px;

    background-color: #fff;
    color: var(--main-color);
}
.register-container .buttons-flex #help:hover {
    transform:  translateX(20%);

}


/* Media quarry */
@media screen and (max-width: 770px) {
    .feature-title h3{
    
        font-size: 24px;
        text-align: center;
    }
    .features {
        padding: 10px;
    }
    .feature {
        flex-basis: 100%;
    }
    .student-mg {
        flex-basis: 100%;
    }
    .student-mg img{
        width : 100%;
    }

}

@media screen and (max-width: 770px) {
    .feature-title h3{
    
        font-size: 24px;
        text-align: center;
    }
    .features {
        padding: 10px;
    }
    .feature {
        flex-basis: 100%;
    }
    .student-mg {
        flex-basis: 100%;
    }
    .student-mg img{
        width : 100%;
    }

}
@media screen and (max-width: 500px) {
  .register-container .title-text h3{
    font-size: 20px;
    margin-top: 12px;
    

  }
  .register-container .title-text h1{
   /* color: red; */
   font-size: 25px !important;

  }
  .register-container .buttons-flex {
    flex-direction: column;
  }
  .register-container .buttons-flex button {
    margin: 1px;
  }

}